@use "../abstracts" as *;

.planets {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include mq(desktop-medium) {
        justify-content: start;
    }

    &__item {
        line-height: 3rem;
        &--active {
            border-bottom: 3px solid #fff;
        }
        &:not(&--active):hover {
            border-bottom: 3px solid rgba(#fff, 0.5);
        }
    }

    &__link {
        font-size: 1.4rem;
        font-family: $text-intro;
        color: $blue;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2.7px;

        @include mq(mobile-medium) {
            font-size: 1.8rem;
        }

        @include mq(tablet) {
            font-size: 2rem;
        }
    }
}
